@import "src/styles/helpers";

.map__container {
  align-items: center;
  padding: 40px 20px 20px 20px;
  flex-direction: column;
  text-align: center;
  height: 100%;
  display: block;
  margin: 0 auto;
  color: #000000;

  @media screen and (min-width: $screen-lg-min) {
    text-align: left;
    padding: 2em;
    max-width: 1400px;
    flex-direction: row;
    .w-50 {
      width: 50%;
      overflow: hidden;
    }
  }

  .w-50 {
    width: 100%;

    &:nth-child(1) {
      padding: 10px 10px 0 0;
      @media screen and (min-width: $screen-lg-min) {
        padding: 0;
      }
    }
  }
}

.map {
  width: 100%;
  height: 300px;
  @media screen and (min-width: $screen-lg-min) {
    height: 400px;
  }
}
