.loading {
  &__wrapper {
    width: 100vw;
    // -50px due to the header. all content must be above the fold
    height: calc(100vh - 50px);
    align-items: center;
  }

  &__logo {
    width: 30px;
    height: 30px;
    background-color: #000;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    will-change: trnsform;
    animation: rotate-in 2s infinite alternate;
  }
}
