<div class="welcome__layout">
  <div class="welcome__logo"
       routerLink="https://www.funda.nl/"></div>
  <div class="welcome__container">
    <div>
      <div class="welcome__animation"><h1>👋 Hi there <span></span></h1></div>
      <p>I'm Kapeesh, a passionate frontend developer who is always learning and sharing.</p>
    </div>
    <ul>
      <span>You can</span>
      <li>Get to know more about me on <a href="https://www.youtube.com/watch?v=lStHGIvvKKc&feature=emb_title" target="_blank" rel="nofollow">youtube</a></li>
      <li>Have a look at my portfolio on my <a href="https://kapeesh.dev/" target="_blank" rel="nofollow">website</a></li>
      <li>Read my latest knowledge share on <a href="https://github.com/kappy904/angular-micro-frontend-architecture" target="_blank" rel="nofollow">Microfrontends using Webpack 5 Module Federation</a></li>
      <li>Or look at <a href="https://codepen.io/KapeeshKappyKap/full/gOwyXwN" target="_blank" rel="nofollow">my latest Codepen</a> exploring Glassmorphism</li>
    </ul>
    <div class="welcome__buttons">
      <div><button routerLink="/data">VIEW ASSIGNMENT</button></div>
      <div><button>VIEW REPO ON GITHUB</button></div>
    </div>
  </div>
</div>
