@import "src/styles/helpers";

header {
  padding: 0;
  margin: 0;
  width: 100%;
  box-shadow: 0 11px 18px 10px #0000001a;
  z-index: 4;
  height: 50px;
  position: sticky;
  top: 0;
  background: #ffffff7d;
  backdrop-filter: blur(21px);
  border-bottom: 2px solid var(--primary);

  img {
    margin-right: -10px;
  }
}
