<app-header></app-header>

<ng-container *ngIf="data$ | async as data; else loading">
  <app-one-col-container>
    <ng-container content>
      <app-hero [address]="data?.Adres"
                [price]="data?.Koopprijs"
                [heroImage]="data?.HoofdFotoSecure"
                [year]="data?.Bouwjaar"
                [place]="data?.Plaats"
                [postcode]="data?.Postcode"
                [agentNumber]="data?.MakelaarTelefoon"
                [description]="data?.VolledigeOmschrijving"
      ></app-hero>

      <app-overview [livingArea]="data?.WoonOppervlakte"
                    [plotArea]="data?.PerceelOppervlakte"
                    [bedrooms]="data?.AantalKamers"
                    [bathrooms]="data?.AantalBadkamers"
                    [energyRating]="data?.Energielabel?.Label"
      ></app-overview>

      <app-enquire-now [agent]="data?.Makelaar"
                       [date]="data?.AangebodenSinds"
                       [agentNumber]="data?.MakelaarTelefoon"
      ></app-enquire-now>

      <app-google-map [location]="data?.Ligging" [latitude]="data?.WGS84_X" [longitude]="data?.WGS84_Y"></app-google-map>

      <app-two-col-half>
        <ng-container text>
          <ng-container *ngFor="let item of data?.Media">
            <app-media-items [media]="item"></app-media-items>
          </ng-container>
        </ng-container>
        <ng-container content>
          <div><h2>There's more!</h2>
            <p>You can view the entire gallery here or click on the images to zoom</p>
            <button class="btn">VIEW GALLERY</button>
          </div>
        </ng-container>
      </app-two-col-half>

    </ng-container>
  </app-one-col-container>
</ng-container>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
