@import "src/styles/helpers";

.two-col-half {
  .container {
    max-height: 400px;
    overflow: hidden;
    flex-direction: column;
    margin-top: 20px;

    > div:nth-child(1) {
      display: flex;
      overflow-x: scroll;
      width: 100%;
      touch-action: pan-x;
    }

    > div:nth-child(2) {
      padding: 0 20px 20px 20px;
      width: 100%;
    }

    @media screen and (min-width: $screen-lg-min) {
      flex-direction: row;
      max-width: 1400px;
      margin: 0 auto;
      > div:nth-child(1) {
        display: block;
        overflow: auto;
      }

      > div:nth-child(2) {
        padding: 2em;
      }
    }

  }
}
