@import 'styles/helpers';
@import 'styles/typography';
@import 'styles/buttons';
@import 'styles/animations';

:root {
  --primary: #f7a100;
  --secondary: #0071b3;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

  * {
    box-sizing: border-box;
  }
}
